/* Setting up a Box Model, altering copied code */

body {
  margin: 0;
}

#structure * {
  padding: 22px;
  font-size: 20px;
  border: 2px solid rgba(0,0,0,0.5);
}

/* specific boxes */

#structure header, #structure footer {
  background-color: green;
  color: white;
}

#structure nav {
  background-color: purple;
  color: white;
}

#structure section {
  float: left;
  width: 400px;
  background-color: blue;
  color: yellow;
}

#structure aside {
  background-color: red;
}

#structure footer {
  clear: both;
}

aside > h3 {
  margin-left: 20px;
}