/**
 * Google Fonts Demo
 **/

/* Add in the Google Fonts of your choice */
h1 {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Indie Flower', cursive;
}

.thought1 {
    font-family: 'Special Elite', cursive;
}

.thought2 {
    font-family: 'Parisienne', cursive;
    font-size: 20px;
}